<!DOCTYPE html>
<html>
    <title>Buena Cosecha | Ska Reggae
    </title>
    <head>
        <meta name="google-site-verification" content="tZ29lnY9K77zk3P76FMVACpqZm1Aeiha3lukoAFjE9M"/>
        <meta name="Buena Cosecha | Ska, Reggae" content="Buena Cosecha, Página oficial, ska, reggae, musica, banda, shows, recitales, fotos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <style>
            body {
                font-family: "Lato", sans-serif;
            }
            .mySlides {
                display: none;
            }

        </style>
        <style type="text/css">
            .quitar {
                text-decoration: none;
            }

        </style>
    </head>

    <body>

        <!-- Page content -->
        <div class="w3-content" style="max-width:1800px;margin-top:46px">

            <!-- Automatic Slideshow Images -->
            <!-- <div class="mySlides w3-display-container ">
                <img src="/imagenes/logos/logorojo.jpg" class="w3-animate-bottom" align="middle" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Ska, Reggae!</h3>

                </div>
            </div> -->
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda6.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>en vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/band4.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>en vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda1.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda2.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!!</h3>
                    <p>
                        <b>En vivo!!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda3.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda8.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda20.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda30.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/banda60.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!!</h3>
                    <p>
                        <b>En vivo!</b>
                    </p>
                </div>
            </div>
            <div class="mySlides w3-display-container w3-opacity w3-hover-opacity-off">
                <img src="/imagenes/galeria/slide/bandd.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                    <h3>Buena Cosecha!</h3>
                    <p>
                        <b>en vivo!</b>
                    </p>
                </div>
            </div>

            <!-- The Band Section -->
            <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide">LA BANDA</h2>
                <p class="w3-opacity">
                    <i>Fiesta! ue ue uep !</i>
                </p>
                <p class="w3-justify">La banda está conformada por Beto en guitarra y voz, Uriel en bateria, Hernán en guitarra, Danilo en bajo, Romina en trombon, Daniel en el saxo, Gastón en trompeta, Melina en percusión y Facundo en teclados
                </p>
                <div class="w3-row w3-padding-32">
                    <div class="w3-third">
                        <a href="https://www.facebook.com/reanaquin?fref=ts" class="quitar" target="_blank">
                            <p>Beto</p>
                            <img src="/imagenes/perfil/betoperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
                    </div>
                    <div class="w3-third">
                        <a href="https://www.facebook.com/uri182?fref=ts" class="quitar" target="_blank">
                            <p>Uri</p>
                            <img src="/imagenes/perfil/uriperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
                    </div>
                    <div class="w3-third">
                        <a href="https://www.facebook.com/gastonroca1?fref=ts" class="quitar" target="_blank">
                            <p>Gaston</p>
                            <img src="/imagenes/perfil/gastonperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
                    </div>
                </div>

                <div class="w3-row w3-padding-32">
                    <div class="w3-third">
                        <a href="https://www.facebook.com/Danilo.Bascones.1917?fref=ts" class="quitar" target="_blank">
                            <p>Vasco</p>
                            <img src="/imagenes/perfil/daniloperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
                    </div>

                    <div class="w3-third">
                        <a href="https://www.facebook.com/romina.vera.33?fref=ts" class="quitar" target="_blank">
                            <p>Romi</p>
                            <img src="/imagenes/perfil/romiperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
                    </div>
                    <div class="w3-third">
                        <a href="https://www.facebook.com/profile.php?id=100011909254275&fref=ts" class="quitar" target="_blank">
                            <p>Dani</p>
                            <img src="/imagenes/perfil/walterperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
                    </div>
                </div>

                <div class="w3-row w3-padding-32">
                    <div class="w3-third">
                        <a href="https://www.facebook.com/iconoclasta" class="quitar" target="_blank">
                            <p>Herni</p>
                            <img src="/imagenes/perfil/hernanperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
                    </div>
                    <div class="w3-third">
                        <a href="https://www.facebook.com/melina.german?fref=ts" class="quitar" target="_blank">
                            <p>Meli</p>
                            <img src="/imagenes/perfil/melinaperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
                    </div>
                    <div class="w3-third">
                        <a href="https://www.facebook.com/facubks?fref=ts" class="quitar" target="_blank">
                            <p>Facu</p>
                            <img src="/imagenes/perfil/facuperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
                    </div>
                </div>

                <!-- The Tour Section -->

                <!-- The Contact Section -->
                <div class="w3-container w3-content w3-padding-64 w3-center" style="max-width:800px">
                    <h2 class="w3-wide w3-center">CONTACTOS</h2>
                    <div class="w3-row w3-padding-32">
                        <div class="w3-col m6 w3-large w3-margin-bottom">
                            <i class="fa fa-envelope" style="width:30px"></i>
                            Email: info@buenacosecha.com.ar<br>
                        </div>
                    </div>
                </div>

                <!-- End Page Content -->
            </div>

            <!-- Footer -->
            <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
                <a href="https://www.facebook.com/buenacosechabanda/" class="w3-hover-text-indigo" target="_blank">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="https://www.instagram.com/buenacosechaska" class="w3-hover-text-red" target="_blank">
                    <i class="icon-instagram"></i>
                </a>
                <a href="https://www.twitter.com/buenacosechaska" class="w3-hover-text-light-blue" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="mailto:info@buenacosecha.com.ar?subject=contacto" class="w3-hover-text-light-blue" target="_blank">
                    <i class="icon-envelope"></i>
                </a>

                <p class="w3-medium">Creado por Buena Cosecha - 2016
                    <a href="#" target="_blank">https://www.facebook.com/buenacosechabanda</a>
                </p>
            </footer>

            <script src="/js/slide.js"></script>
            <script src="/js/menu.js"></script>
            <script src="/js/clicks.js"></script>
            <script src="/js/jquery.js"></script>


        </body>
    </html>
