<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buena Cosecha</title>
        <meta name="google-site-verification" content="cUWX8JFI31vB6M5HPZGZmoYoIAUT8TOvdMAVTTqbVGs"/>
        <meta name="Buena Cosecha | Ska, Reggae" content="Buena Cosecha, Página oficial, ska, reggae, musica, banda, shows, recitales, fotos, videos">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" rel="stylesheet">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>
        <div class="w3-row w3-border">
            <div class="w3-container w3-half w3-white">
                <img src="/imagenes/galeria/ep/tapa.jpg" alt="tapasemilla" style="width:50%;margin-top:50px" class="w3-hover-sepia w3-round">
            </div>
            <div class="w3-container w3-half w3-black">
              <h2>Semilla</h2>
              <p>Nuestro primer EP</p>
                <iframe src="https://open.spotify.com/embed?uri=spotify:album:1G8EXEJwuIyXM2MsVQrir1" style="margin-top:30px" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>

    </body>
    <script src="/js/menu.js"></script>
    <script src="/js/clicks.js"></script>
    <script src="/js/jquery.js"></script>
</html>
