<html>
    <head>
        <meta name="google-site-verification" content="tZ29lnY9K77zk3P76FMVACpqZm1Aeiha3lukoAFjE9M"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Lato|Finger+Paint|Anton|Permanent+Marker|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/imagenes/favicon.ico" rel="shortcut icon">
        <script src="/js/analytics.js"></script>

    </head>

    <!-- Navbar -->
    <div class="w3-top">
        <ul class="w3-navbar w3-black w3-card-2 w3-right-align">
            <li class="w3-hide-small w3-opennav w3-right">
                <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"></a>
            </li>
            <li>
                <a href="/" class="w3-hover-none w3-hover-text-grey w3-padding-large">
                    <i id="social-ho" class="fa fa-home fa-3x social"></i>
                </a>

            </li>
            <li class="w3-hide-small w3-dropdown-hover submenu">
                <a href="multimedia" class="w3-hover-none w3-padding-large submenu" title="Musica">
                    <h4 class="menuhomerojo">Música</h4>
                </a>
                <div class="w3-dropdown-content w3-white w3-card-4 w3-left-align">
                    <a href="audios">Audios</a>
                    <a href="videos">Videos</a>
                    <a href="letras">Letras</a>
                </div>
            </li>

            <li class="w3-hide-small w3-dropdown-hover submenu">
                <a href="shows" class="w3-hover-none w3-padding-large" title="Shows">
                    <h4 class="menuhomeamarillo">Shows</h4>
                </a>
                <div class="w3-dropdown-content w3-white w3-card-2 w3-left-align ">
                    <a href="proximos">Próximos</a>
                    <a href="pasados">Pasados</a>
                </div>
            </li>
            <li class="w3-hide-small">
                <a href="nosotros" class="w3-padding-large" title="Nosotros">
                    <h4 class="menuhomeverde">Nosotros</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-left">
                <h2 class="textomenucentro w3-animate-fading">
                    <b>Buena Cosecha!</b>
                </h2>
            </li>
            <!-- <li class="w3-hide-small w3-dropdown-hover">
                <a href="mas" class="w3-hover-none w3-padding-large" title="Mas">
                    Mas
                </a>
                <div class="w3-dropdown-content w3-white w3-card-4 w3-left-align">
                    <a href="merchandising">Merchandising</a>
                    <a href="entradas">Entradas</a>
                </div>
            </li> -->
            <li class="w3-hide-small w3-right">
                <a href="javascript:void(0)">
                    <i id="social-se" class="fa fa-search fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-right">
                <a href="mailto:info@buenacosecha.com.ar?subject=contacto" target="_blank">
                    <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-right">
                <a href="https://www.instagram.com/buenacosechaska" target="_blank">
                    <i id="social-in" class="fa fa-instagram fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-right">
                <a href="https://www.youtube.com/channel/UClUAerSDxrXUJON4TXJIing" target="_blank">
                    <i id="social-yt" class="fa fa-youtube-play fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-right">
                <a href="https://www.twitter.com/buenacosechaska" target="_blank">
                    <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-right">
                <a href="https://www.facebook.com/buenacosechabanda/" target="_blank">
                    <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <ul class="w3-navbar w3-center-align w3-black">
            <li>
                <a class="w3-padding-large" href="multimedia">Música</a>
            </li>
            <li>
                <a class="w3-padding-large" href="shows">Fechas</a>
            </li>
            <li>
                <a class="w3-padding-large" href="mailto:info@buenacosecha.com.ar?subject=contacto">Contacto</a>
            </li>
            <!-- <li>
                <a class="w3-padding-large" href="entradas">Mas</a>
            </li> -->
        </ul>
    </div>

    <body>
        <div id='header'>
            <div id='main'>
                <%= yield %>
            </div>
        </div>
    </body>
    <footer>
        <div class="w3-bottom">
            <ul class="footertype w3-sidenav w3-card-2 w3-left-align">
                <li>
                    <a href="mailto:info@buenacosecha.com.ar?subject=contacto" target="_blank">
                        <i id="social-em" class="fa fa-envelope-square fa-2x social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/buenacosechaska" target="_blank">
                        <i id="social-in" class="fa fa-instagram fa-2x social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UClUAerSDxrXUJON4TXJIing" target="_blank">
                        <i id="social-yt" class="fa fa-youtube-play fa-2x social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/buenacosechaska" target="_blank">
                        <i id="social-tw" class="fa fa-twitter-square fa-2x social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/buenacosechabanda/" target="_blank">
                        <i id="social-fb" class="fa fa-facebook-square fa-2x social"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</html>
