<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>

        <br>
        <br>
        <br>

        <ul>
            <li>Comprar entradas
                <a href="entradas"></a>
            </li>
            <li>Comprar discos, remeras
                <a href="mas"></a>
            </li>
        </ul>

    </body>
</html>
