<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Buena Cosecha, Ska Reggae | Más opciones !</title>
    </head>

    <body>

        <br>
        <br>
        <br>

        <ul>
            <a href="entradas">
                <li>Comprar entradas
                </a>
            </li>
            <a href="mas">
                <li>Comprar discos, remeras
                </a>
            </li>
        </ul>

    </body>
</html>
