<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .quitar {
                text-decoration: none;
            }
        </style>
        <title>Buena Cosecha, Ska Reggae | Más opciones !</title>
    </head>

    <body>

        <br>
        <br>
        <br>

        <ul>
            <a href="entradas" class="quitar">
                <li>Comprar entradas
                </a>
            </li>
            <a href="mas" class="quitar">
                <li>Comprar discos, remeras
                </a>
            </li>
        </ul>

    </body>
</html>
