<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <br>
  <br>
  <br>

  <body>
    <ul>
      <a href="audios"><li> Audios </li></a>
      <a href="videos"><li> Videos </li></a>
      <a href="letras"><li> Letras </li></a>
    </ul>

  </body>
</html>
