<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
        .quitar {
            text-decoration: none;
        }
    </style>
    <title>Buena Cosecha, Ska Reggae | Música</title>
  </head>

  <br>
  <br>
  <br>

  <body>
    <ul>
      <a href="audios" class="quitar"><li> Audios </li></a>
      <a href="videos" class="quitar"><li> Videos </li></a>
      <a href="letras" class="quitar"><li> Letras </li></a>
    </ul>

  </body>
</html>
