<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .quitar {
                text-decoration: none;
            }
        </style>
        <title>Buena Cosecha, Ska Reggae | Shows</title>
    </head>
    <body>

        <br>
        <br>
        <br>

        <div class="w3-container w3-leftbar w3-border-deep-orange w3-orange">

            <a href="pasados" class="quitar">
                <h3>Pasados</h3>

            </a>
        </div>
        <br>
        <div class="w3-container w3-leftbar w3-border-cyan w3-light-blue">

            <a href="proximos" class="quitar">
                <h3>Próximos</h3>

            </a>
        </div>
        <br>
    </body>
</html>
