<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Letras</title>
    </head>
    <body>
        <br>
        <br>
        <br>

        <div class="w3-container">
            <div class="textocategorias">
                Buena Cosecha
            </div>

            <pre class="texttercernivel">
    Y a pesar que voy probando. Que voy improvisando. Con el corazón para adelante avanzo.
    No me intimida una caída. No es por hacerme el malo, es por que le pongo pila.
    A mi no me interesa, qué futuro se acerca. Por futuros pasados estoy en esta senda.
    Crecí en ella y por más que duela, hay que reconocer que yo aprendí de esta.
    Así es la vida, es corta y rica. Mejor metele onda que quizás no se repita.

    Me voy contaminando, me voy intoxicando. Y cortos o largos voy mis pasos dando.
    Camino lento y estoy sonriendo. Por que mi destino yo estoy descubriendo.
    Hoy no oculto mis miedos, no planto en el silencio. Te estoy transmitiendo que esto sí va en serio.
    Ya sé que cuesta. Intentá y creá. Y a todas mis preguntas encontraré una respuesta.

    Salgo a caminar, para no pensar...
    Dejarme llevar…
    Y empiezo a cantar…..
    La la la.

    Ya se está terminando, esto que estoy rapeando. Y aunque bueno o malo el mensaje es claro.
    Ponele el pecho, y andá por eso. Eso que te empuja a cumplir tus deseos.
    Hay voluntad de sobra. NO planto en la memoria. Que no se repita lo que te demora.
    Sangre en mis venas. Meta entre cejas. Prestá atención ahora que suena Buena Cosecha !!

    Por más….
    Voy por más….
    Por más……
    Voy por más….
    La la la la.
        </pre>
        </div>
        <br>
        <div class="w3-container">
            <div class="textocategorias">
                Green Fingers
            </div>

            <pre class="texttercernivel">
    Se fue la luna, se esconde del sol. Se presta el día para cultivar hoy.
    Buena energía que baña la tierra, que con las dos manos te da lo que quieras.
    Ahí de rodillas con las uñas bien negras, haciendo espacio que mi semilla espera.
    Pequeña magia que llevas adentro, una explosión de aromas, colores y efectos.

    Ya contamos las horas. Que esos tallos revienten con flores ahora.
    Hay que alegría me espera, que pasen los meses llegá primavera.

    Pasan los días, los climas y ahora observo inquieto como crecen las hojas.
    Coopero en algo abonando tu tierra. El trabajo de campo no es lo que uno espera.
    Avanza el tiempo y me veo las manos, con dedos verdes de tanto podado.
    Se acerca el día, ese tan esperado, y con esos frutos seré coronado.

    Se nutre mi cuerpo de savia sabrosa. Y mi alma agradece al esfuerzo que ignora.
    Green Finguers. Del ritual pagano. Cayeron las ramas que fiesta nos trajo.
        </pre>
        </div>
        <br>



        <div class="w3-container">
            <div class="textocategorias">
                Misteria
            </div>
            <pre class="texttercernivel">
    Fué muy fuerte el golpe, había que tomar una decisión.
    Estaba ciego. Estaba loco. Loco de amor.
    Y aunque me dijiste que no era lo mejor.
    Me la jugué hasta las muelas. Hasta perder el control.

    Todas las mañanas tienen olorcito a vos.
    Es que te extraño. Es que te quiero. Como si el mundo muriera hoy.
    Y es que día a día yo me aferro a la ilusión.
    De que aparezcas, y me digas, “Acá está tu corazón”

    Fantaseo con la idea que me vengas a buscar.
    Pero luego, abro los ojos, y arranco para el bar.
    Y aunque yo no tome, hoy por vos voy a brindar.
    A tu salud, mi querida. Siempre te voy a recordar.

    Todas las mañanas tienen olorcito a vos.
    Es que te extraño. Es que te quiero. Como si el mundo muriera hoy.
    Y es que día a día yo me aferro a la ilusión.
    De que aparezcas, y me digas, “Acá está tu corazón”.

    En la barra estoy dormido esperando otro amor.
    Y como soy un incoherente. Salí de cazador.
    Una mujer se acerca, me ilumina el corazón.
    Era la gorra. Y por borracho. A la cárcel me llevó.

    Todas las mañanas tienen olorcito a vos.
    Es que te extraño. Es que te quiero. Como si el mundo muriera hoy.
    Y es que día a día yo me aferro a la ilusión.
    De que aparezcas, y me digas, “Acá está tu corazón”.

    Por qué?.....Por qué, me dejaste?
        </pre>
        </div>
        <br>

        <div class="w3-container">
            <div class="textocategorias">
                Sweet
            </div>

            <pre class="texttercernivel">
    Buena Cosecha si señor,
    de corazón,
    buena cosecha.
        </pre>
        </div>
        <br>


        <div class="w3-container">
            <div class="textocategorias">
                Tierra
            </div>
            <pre class="texttercernivel">
    Tierra, que nos diste lo suficiente. Querida tierra.
    En un pasado te fuimos fieles querida Tierra. Juzganos hoy!
    Son menos plantas en ésta esfera, por un progreso que nunca espera.
    Si el hombre voraz no es capaz de frenar la masacre de lo natural.
    Disculpanos Tierra !

    Los animales que se despiden marchan dolidos a la extinción.
    No hay glaciaciones que marquen la era, es el humano que imprime dolor.
    Por minerales que valoran brillo, está condenado a su perdición.

    Me gustaría ir a verles las caras a los que matan al aire por plata.
    Cuando sus hijos usando barbijos pregunten “¿Por qué hicieron esto, papá?”

    Tierra. Que maldices a nuestra raza perdón mi Tierra !!!
    Yo busco el cambio profundo en todos y hacer conciencia.
    Que mientras más te cuidemos todos, hay vida eterna.
    A cuidar la naturaleza, paren la guerra.

    El tiempo pasa y la mecha es corta cuando interviene la corrupción.
    Tenemos que darle un poco de bola a lo que pasa en el interior.
    Por extraer oro, plata y cobre se están robando el futuro de hoy !

    Me gustaría poder contar con un poco de agua pura mañana.
    Y mantener el Planeta vivo, creo que es más que justa la causa.

    Tierra.
    Tierra.
    Tierra.
          </pre>
        </div>
        <br>

        <div class="w3-container">
            <div class="textocategorias">
                Yo sabia
            </div>
            <pre class="texttercernivel">
    Hey ! Que línda estabas vos ayer !!!
    Algo cerca y lejos a la vez.
    Tengo dudas de lo que pasa.
    Hay mucha chispa y se que hay algo más, acá.

    Siento en el aire tus ojos.
    Yo sé que no me equivoco esta vez.
    Son esos gestos, tu sonrisa y esa luz.
    Mostrame un poco de lo que en la mente tenes.

    Ponés distancia y sé que es por lo insegura que hoy estas.
    Voy a buscarte en lo cercano, y si estás lejos mucho más.
    No es molestarte, es una duda. Contestame si es verdad…
    Si, vos también me mirás? Es verdad que me mirás?

    Sale el sol, con tu mirada agacha.
    Me parte el alma, que la injusticia ganará.
    Sospecho igual que un corazón te domina la cama.
    Mantengo la esperanza de ser yo el de la osadía.

    No se acercarme sin pensar que vos no vas a dar lugar.
    Sé, todo es loco esto que pasa pero es la realidad.
    Es solo nuestro este secreto. Y entre dos se va a quedar.

    Hoy dame la oportunidad…
    De estar con vos un rato más…
        </pre>
        </div>
    </body>
</html>
