<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Música</title>
    </head>

    <br>
    <br>
    <br>

    <body class="">
        <div class="fondosdepagina">
            <div class="w3-container w3-leftbar w3-border-deep-orange w3-orange">
                <a href="audios" class="quitar">
                    <h3>Audios</h3>
                </a>
            </div>
            <br>

            <div class="w3-container w3-leftbar w3-border-cyan w3-light-blue">
                <a href="videos" class="quitar">
                    <h3>Videos</h3>
                </a>
            </div>
            <br>

            <div class="w3-container w3-leftbar w3-border-dark-grey w3-grey">
                <a href="letras" class="quitar">
                    <h3>Letras</h3>
                </a>
            </div>
            <br>
        </div>

    </body>
</html>
