<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Música</title>
    </head>

    <br>
    <br>
    <br>

    <body class="">
        <div class="w3-container w3-leftbar textocategorias">
            <a href="audios" class="quitar ">
                Audios
                <i class="material-icons">library_music</i>
            </a>
        </div>
        <br>

        <div class="w3-container w3-leftbar textocategorias">
            <a href="videos" class="quitar ">
                Videos
                <i class="material-icons">movie</i>
            </a>
        </div>
        <br>

        <div class="w3-container w3-leftbar textocategorias">
            <a href="letras" class="quitar ">
                Letras
                <i class="material-icons">note</i>
            </a>
        </div>
        <br>
    </body>
</html>
