<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
    <title>Buena Cosecha, Ska Reggae | Nosotros </title>
  </head>
  <body>

    <!-- The Band Section -->
    <div class="w3-container w3-content w3-center w3-padding-64 quitar" style="max-width:800px">
        <h2 class="w3-wide">LA BANDA</h2>
        <p class="w3-opacity">
            <i>Estos somos!!</i>
        </p>
        <p class="w3-justify">La banda est치 conformada por Beto en guitarra y voz, Uriel en bateria, Hern치n en guitarra, Danilo en bajo, Romina en trombon, Daniel en el saxo, Gast칩n en trompeta, Melina en percusi칩n y Facundo en teclados
        </p>
        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <a href="https://www.facebook.com/reanaquin?fref=ts" class="quitar" target="_blank">
                    <p>Beto</p> <i class="fa fa-facebook" aria-hidden="true"></i>

                    <img src="/imagenes/perfil/betoperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
            </div>
            <div class="w3-third">
                <a href="https://www.facebook.com/uri182?fref=ts" class="quitar" target="_blank">
                    <p>Uri</p>
                    <img src="/imagenes/perfil/uriperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
            </div>
            <div class="w3-third">
                <a href="https://www.facebook.com/gastonroca1?fref=ts" class="quitar" target="_blank">
                    <p>Gaston</p>
                    <img src="/imagenes/perfil/gastonperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
            </div>
        </div>

        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <a href="https://www.facebook.com/Danilo.Bascones.1917?fref=ts" class="quitar" target="_blank">
                    <p>Vasco</p>
                    <img src="/imagenes/perfil/daniloperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
            </div>

            <div class="w3-third">
                <a href="https://www.facebook.com/romina.vera.33?fref=ts" class="quitar" target="_blank">
                    <p>Romi</p>
                    <img src="/imagenes/perfil/romiperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
            </div>
            <div class="w3-third">
                <a href="https://www.facebook.com/profile.php?id=100011909254275&fref=ts" class="quitar" target="_blank">
                    <p>Dani</p>
                    <img src="/imagenes/perfil/walterperfil.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%"></a>
            </div>
        </div>

        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <a href="https://www.facebook.com/iconoclasta" class="quitar" target="_blank">
                    <p>Herni</p>
                    <img src="/imagenes/perfil/hernanperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
            </div>
            <div class="w3-third">
                <a href="https://www.facebook.com/melina.german?fref=ts" class="quitar" target="_blank">
                    <p>Meli</p>
                    <img src="/imagenes/perfil/melinaperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
            </div>
            <div class="w3-third">
                <a href="https://www.facebook.com/facubks?fref=ts" class="quitar" target="_blank">
                    <p>Facu</p>
                    <img src="/imagenes/perfil/facuperfil.jpg" class="w3-round" alt="Random Name" style="width:60%"></a>
            </div>
        </div>
    </div>


  </body>
</html>
