<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Buena Cosecha, Ska | Recitales pasados</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="w3-container">
      <ul class="w3-ul w3-card-4 w3-border">
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/galponb.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="galponb" class="quitar">
              <span class="w3-large">Galpon B | 23 hs | CABA|</span><br>
              <span>7 de Octubre de 2018</span>
            </a>
          </div>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/ultrabar2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="ultrabar2" class="quitar">
              <span class="w3-large">Ultrabar2 | 23 hs | CABA|</span><br>
              <span>2 de Agosto de 2018</span>
            </a>
          </div>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/konex.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="konex" class="quitar">
              <span class="w3-large">Konex | 23 hs | CABA|</span><br>
              <span>14 de Julio de 2018</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/ultrabar.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="ultrabar" class="quitar">
              <span class="w3-large">Ultrabar | 23 hs | CABA|</span><br>
              <span>12 de Mayo de 2018</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/clubaraoz.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="clubaraoz" class="quitar">
              <span class="w3-large">Club Araoz | 23 hs | CABA|</span><br>
              <span>17 de Marzo de 2018</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/birmania2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="birmania2" class="quitar">
              <span class="w3-large">Birmania Bar | 22 hs | CABA|</span><br>
              <span>6 de Marzo de 2018</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/fusion.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="fusion" class="quitar">
              <span class="w3-large">Fusion Bar | 23 hs | CABA|</span><br>
              <span>30 de Diciembre de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/makena3.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="makena3" class="quitar">
              <span class="w3-large">Makena Cantina Culub | 21 hs | CABA|</span><br>
              <span>9 de Diciembre de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/espresso.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="espresso" class="quitar">
              <span class="w3-large">Espresso Bar | 23 hs | Caseros|</span><br>
              <span>2 de Diciembre de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/gier.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="gier" class="quitar">
              <span class="w3-large">Gier Music | 21 hs | CABA|</span><br>
              <span>22 de Septiembre de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/makena2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="makena2" class="quitar">
              <span class="w3-large">Makena Cantina Club | 21 hs | CABA|</span><br>
              <span>9 de mayo de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/verdi.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="verdi" class="quitar">
              <span class="w3-large">Teatro Verdi | 21 hs | CABA|</span><br>
              <span>21 de Abril de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/logos/bclogo.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="birmania" class="quitar">
              <span class="w3-large">Birmania | 21 hs | CABA|</span><br>
              <span>9 de abril de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/emergente.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="emergente" class="quitar">
              <span class="w3-large">El Emergente Bar | 21 hs | CABA|</span><br>
              <span>30 de Marzo de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/makena.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="makena" class="quitar">
              <span class="w3-large">Makena Cantina Club | 22 hs | CABA|</span><br>
              <span>14 de Febrero de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/carnalbar.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="carnal" class="quitar">
              <span class="w3-large">Carnal Bar | 21 hs | CABA|</span><br>
              <span>8 de Febrero de 2017</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/monocicl.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="monociclo" class="quitar">
              <span class="w3-large">Monociclo Club de Arte | 22 hs | Banfield|</span><br>
              <span>8 de Diciembre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/whitevinyl2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="https://www.facebook.com/events/1842814522622071/" class="quitar">
              <span class="w3-large">White Vinyl | 23 hs | Avellaneda|</span><br>
              <span>3 de Diciembre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/fiestadelaflor.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="fiestadelaflor" class="quitar">
              <span class="w3-large">Fiesta de la Flor | 21 hs | CABA|</span><br>
              <span>21 de Octubre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/zona42.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="pasados" class="quitar">
              <span class="w3-large">Zona 42 | 23 hs | Guernica|</span><br>
              <span>15 de Octubre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/clubv.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="clubv" class="quitar">
              <span class="w3-large">Club V | 23 hs | CABA|</span><br>
              <span>11 de Octubre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/salon2.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="salon2" class="quitar">
              <span class="w3-large">Salon Pueyrredon | 01 hs | CABA|</span><br>
              <span>1 de Octubre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/pquesaavedra.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="pquesaavedra" class="quitar">
              <span class="w3-large">Parque Saavedra | 15 hs | CABA|</span><br>
              <span>24 de Septiembre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/whitevinyl.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="whitevinyl" class="quitar">
              <span class="w3-large">White Vinyl | 23 hs | Adrogue|</span><br>
              <span>17 de Septiembre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/salon1.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="salon" class="quitar">
              <span class="w3-large">Salon Pueyrredon | 05 hs | CABA|</span><br>
              <span>2 de Septiembre de 2016</span>
            </a>
          </div>
          <br>
        </li>
        <li class="w3-bar">
          <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
          <img src="/imagenes/flyers/locabohemia.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:60px">
          <div class="w3-bar-item">
            <a href="locabohemia" class="quitar">
              <span class="w3-large">Loca Bohemia | 01 hs CABA|</span><br>
              <span>20 de agosto de 2016</span>
            </a>
          </div>
        </li>
      </div>
      <br>
    </body>
  </html>
