<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Próximos recitales</title>
    </head>

    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="w3-container textocategorias">
            <a href="https://www.facebook.com/buenacosechabanda" target="_blank" class="quitar">
                <span class="textocategorias2">Martes 9 de Mayo</span>
                en Makena Cantina Club (Fitz Roy 1519 CABA), 21 hs, $50
                <i class="material-icons">priority_high</i>
            </a>
        </div>
        <br>


    </body>
</html>
