<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Próximos recitales</title>
    </head>

    <body>
        <br>
        <br>
        <br>
        <br>

        <div class="w3-container w3-hoverable textocategorias">
            <a href="https://www.facebook.com/Club-V-165907106858236/events/" target="_blank" class="quitar">
                <span class="textocategorias2">Sabado 15 de Octubre
                </span>
                en Zona 42 (Formosa 99 Guernica) 23 hs
                <i class="material-icons">priority_high</i>
            </a>
        </div>
        <br>
        <div class="w3-container textocategorias">
            <a href="https://www.facebook.com/events/191240934614955/" target="_blank" class="quitar">
                <span class="textocategorias2">Viernes 21 de Octubre
                </span>
                en la Fiesta de la Flor (Suipacha 842 CABA), 23 hs, $50 anticipadas $80 en puerta
                <i class="material-icons">priority_high</i>
            </a>
        </div>
        <br>
        <div class="w3-container textocategorias">
            <a href="https://www.facebook.com/WhiteVinylBar/" target="_blank" class="quitar">
                <span class="textocategorias2">Sabado 26 de Noviembre</span>
                en White Vinyl (H. Yrigoyen 13233 Adrogue), 22 hs, $70 anticipadas $100 en puerta
                <i class="material-icons">priority_high</i>
            </a>
        </div>
        <br>

    </body>
</html>
