<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Próximos recitales</title>
    </head>

    <body>
        <br>
        <br>
        <br>
        <br>
            <div class="w3-container textocategorias">
                <a href="https://www.facebook.com/events/1842814522622071//" target="_blank" class="quitar">
                    <span class="textocategorias2">Sabado 26 de Noviembre</span>
                    en White Vinyl (H. Yrigoyen 13233 Adrogue), 22 hs, $70 anticipadas $100 en puerta
                    <i class="material-icons">priority_high</i>
                </a>
            </div>
            <div class="w3-container textocategorias">
                <a href="https://www.facebook.com/buenacosechabanda/" target="_blank" class="quitar">
                    <span class="textocategorias2">Jueves 8 de Diciembre</span>
                    en Monociclo Club de Arte (H. Yrigoyen 6944 Banfield), 22 hs, $50 anticipadas
                    <i class="material-icons">priority_high</i>
                </a>
            </div>

        </div>
        <br>
    </body>
</html>
