<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <title>Buena Cosecha, Ska Reggae | Shows</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <div class="w3-container textocategorias">
            <a href="pasados" class="quitar">
                <i class="material-icons">arrow_back</i>Pasados</a>
        </div>
        <br>
        <div class="w3-container textocategorias">
            <a href="proximos" class="quitar">
                <i class="material-icons">arrow_forward</i>Próximos</a>
        </div>
        <br>
    </body>
</html>
