<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8">
        <title>Votaciones | Buena Cosecha guacho!
        </title>
    </head>

    <body>
        <br>
        <br>
        <br>
        <br>

        <a class="w3-btn" href='https://forms.zohopublic.com/info450/form/Cuantostemasgrabar/formperma/k_27e1Ek41Cjf1CH3eJd36e95' title="¿Cuantos temas grabar?" target='_blank' onclick="zforms_open_window(this.href, 648, 700); return false">Votación uno | Grabación </a>

        <a class="w3-btn" href='https://forms.zohopublic.com/info450/form/Ensayardespuesdeasado/formperma/C0A5Eb5KB0j4K1d14M8kh6540' title="¿Ensayar despues de asado?" target='_blank' onclick="zforms_open_window(this.href, 648, 700); return false">Votación dos | Asado</a>

        <script src="/js/encuestaspopups.js"></script>
    </body>
</html>
