<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Votaciones | Buena Cosecha guacho!
        </title>
    </head>
    <body>

        <div class="" id="cuantostemas">
            <style>
                .gray {
                    display: inline-block;
                    background: #d9dce0;
                    background: -webkit-gradient(linear,left top,left bottom,from(#f4f3f3),to(#d9dce0));
                    background: -moz-linear-gradient(top, #f4f3f3, #d9dce0);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#f4f3f3', endColorstr='#d9dce0');
                    border: 1px solid #9C9C9C;
                    box-shadow: 0 1px #FEFEFE inset;
                    color: #434343;
                    text-shadow: 1px 1px 0 #FFFFFF;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    margin-top: 3px;
                    padding: 7px 14px;
                    cursor: pointer;
                    font-family: arial;
                    font-size: 13px;
                }
            </style>
            <a class="gray" onclick="javascript:window.open('https://forms.zohopublic.com/info450/form/Cuantostemasgrabar/formperma/k_27e1Ek41Cjf1CH3eJd36e95');">Access Form</a>
        </div>
    </body>
</html>
