<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8">
        <title>Votaciones | Buena Cosecha guacho!
        </title>
    </head>
    <body>

        <div class="" id="cuantostemas">
            <iframe frameborder="0" style="position:absolute;height:100%;width:99%;border:none;" src='https://forms.zohopublic.com/info450/form/Cuantostemasgrabar/formperma/k_27e1Ek41Cjf1CH3eJd36e95'></iframe>
        </div>
    </body>
</html>
